{
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    [
      "@babel/plugin-transform-for-of", {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "chrome": "58",
          "ie": "6"
        },
        "forceAllTransforms": true,
        "useBuiltIns": "entry"
      }
    ]
  ]
}